# Loss Given Default

## Aim

To predict the Loss Given Default of a subprime borrower using appropriate machine learning techniques and feature engineering with relevant statistics.

## Dataset Overview

- Dataset taken from [Kaggle](https://www.kaggle.com/datasets/heydido/creditloan-dataset-rural-india)
- There is no column for LGD - it has to be derived using feature engineering.

## Import the Required Libraries and Load Dataset

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

data = pd.read_csv('../datasets/RuralCreditData.csv')

data.head()

   Id      city  age  ... loan_tenure loan_installments loan_amount
0   1   Dhanbad   22  ...          12                12      5000.0
1   2  Manjapra   21  ...          12                50      7500.0
2   3   Dhanbad   24  ...          12                12      5000.0
3   4       NaN   26  ...          12                50      7500.0
4   5   Nuapada   23  ...          12                12      5000.0

[5 rows x 21 columns]